<ul class="menu">
  <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
  <li>
    <a routerLink="/user" routerLinkActive="active">User</a>
    <ul>
      <li>
        <a routerLink="/user/store" routerLinkActive="active">Book Store</a>
      </li>
    </ul>
  </li>
  <li>
    <a routerLink="/admin/products" routerLinkActive="active">Admin</a>
    <ul>
      <li><a routerLink="/admin/products">Products</a></li>
      <li><a>Orders</a></li>
    </ul>
  </li>
  <li class="counter">
    <a routerLink="/user/checkout">{{ count }}</a>
  </li>
</ul>
