<div class="padding">
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Author</th>
      <th>Genre</th>
      <th>Language</th>
      <th>Available</th>
      <th>Quantity</th>
    </tr>
    <tr *ngFor="let book of books">
      <td>{{ book.id }}</td>
      <td>{{ book.name }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.genre }}</td>
      <td>{{ book.language }}</td>
      <td>{{ book.quantity }}</td>
      <td>
        <form [formGroup]="storeForm">
          <input
            appNumber="true"
            formControlName="quantity"
            #quantity
            (change)="(testValidationForm(book.id))"
            [ngClass]="{ 'invalid': submitted &&  storeFormErrors.length && currentAddId == book.id }"
          >
          <div *ngIf="submitted && storeFormErrors.length && currentAddId == book.id" class="invalid-feedback">
            <p>Quantity value is required!</p>
          </div>
        </form>
      </td>

      <td>
        <button class="button button-success" (click)="addToWishList(book, quantity.value)">Add</button>
      </td>
    </tr>
  </table>
</div>
