<div class="padding">
  <div class="padding float-right">
    <button class="button button-success" (click)="openNew()">Adicionar Livros</button>
  </div>
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Author</th>
      <th>Genre</th>
      <th>Language</th>
      <th>Quantity</th>
    </tr>
    <tr *ngFor="let book of books">
      <td>{{ book.id }}</td>
      <td>{{ book.name }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.genre }}</td>
      <td>{{ book.language }}</td>
      <td>{{ book.quantity }}</td>
      <td>
        <button class="button button-success" (click)="openEdit(book.id)">Edit</button>
        <button class="button button-danger" (click)="onDelete(book.id)">Delete</button>
      </td>
    </tr>
  </table>
</div>
